 <link rel="stylesheet" href="css/detail.css"/>
<img class="img-responsive" src="../../../images/temp/demo.jpg" alt=""/>
<div class="container">
    <div class="common-panel">
        <ul class="common-list">
            <li class="list-item list-input-item">
                <div class="input">
                    <span class="field">项目名称:&nbsp;头颈肩推拿</span>
                </div>
                <span class="addon"><i class="icon fa fa-star-o text-primary text-lg"></i></span>
            </li>
            <li class="list-item"><span class="field">理疗时间:&nbsp;</span><span class="content">60分钟</span></li>
            <li class="list-item"><span class="field">理疗功效:&nbsp;</span><span class="content">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
            </li>
            <li class="list-item"><span>适用人群:&nbsp;</span><span class="content">内容内容内容内容内容内容内容内容内容内容内容</span></li>
            <li class="list-item"><span>禁忌提示:&nbsp;</span><span class="content">内容内容内容内容内容内容内容内容内容内容内容</span></li>
        </ul>
    </div>
</div>
<a class="btn-order" href="#">立即预约</a>