{% extends "@WeixinBundle/layout.twig" %}
{% block title %}免责声明{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('static-web/css/login.css') }}"/>
{% endblock %}
{% block content %}
    <h1 class="topbar">免责声明</h1>

    <div class="container">
        <div class="common-panel">
            <div class="common-panel-body">
                尊敬的用户：<br/>
                    您即将通过本页面确认使用享受骏到家为您提供的上门推拿预约服务，为了给您带来完美的预约体验，以及更好的享受方便快捷预约的乐趣，请你仔细阅读本则声明。如果对声明有疑问，请通过骏到家客服渠道进行详细询问，由骏到家专业客服人员为您解释条款内容，其他渠道都是非官方渠道，一概与骏到家无关，请知晓。<br/>
                    用户通过网络页面点击确认或以其他方式选择接受本申明，即表示您同意接受以下全部内容：<br/>
                1、骏到家是一家提供上门推拿在线预约服务的平台。骏到家汇聚了愿意在本平台提供上门推拿服务的推拿师，并经过考核评定，以验证推拿师的身份，提供优质服务，也减少您上当受骗的风险。<br/>
                2、为了保障您的合法权益，本网站将不定期对推拿师资质及提供的推拿服务进行考核，但您理解考核不可能每时每刻都在进行。所以，在确定预约前，请务必仔细阅读推拿师与服务项目的宣传资料，并对其做出准确判断。本平台对推拿师个人提供的宣传和承诺并不承担法律上的责任。<br/>
                3、 随着上门服务越来越成为人们消费的一种方式，安全问题更受到关注。骏到家特别提醒消费者注意安全。无论发生什么情况，请不要向推拿师透露个人账号、密码等相关个人私密信息。同时，如果在服务过程中消费者存在不正当行为，推拿师有权利中止服务。<br/>
                4、您理解并同意，骏到家仅提供推拿师的预约服务，对于服务的最终交易与否，由您自行判断，且审慎交易。推拿师的信誉、口碑，售后服务，都是您要关注的地方。<br/>
                5、当您具备或可能具备推拿禁忌症、刮痧拔罐禁忌症时，请不要使用本平台预约推拿服务，否则造成的任何后果自负。<br/>
                附：<br/>
                推拿疗法的禁忌症，指不适宜推拿或在某种情况下，手法可能使病情加重恶化的情况：<br/>
                1、诊断不明的急性脊髓损伤或伴有脊髓症状的患者，在未排除脊椎骨折时切忌推拿。出现脑脊髓症状时须排除蛛网膜下腔出血，这也是推拿禁忌症。<br/>
                2、各种骨折、骨关节结核、骨髓炎、骨肿瘤、严重的老年性骨质疏松症患者，推拿可能引起病理性骨折，肿瘤扩散转移或炎症发展扩散。因此也属于推拿禁忌症。<br/>
                3、严重的心、肺、肝、肾功能衰竭的病人或身体过于虚弱者，由于不承受强刺激，因此一般不宜接受推拿治疗。应该采取措施，及时抢救。<br/>
                4、各种急性传染病、急性腹膜炎包括胃、十二指肠溃疡穿孔者，禁忌推拿治疗。应考虑手术剖腹探查。<br/>
                5、有出血倾向或有血液病的患者，推拿可能引起局部皮下出血，故不宜推拿治疗。<br/>
                6、避免在有皮肤损伤的部位施手法。但在有褥疮的周围施轻手法改善局部血液循环，可使缺血性坏死的创面逐渐愈合。这是70年代在治疗外伤性截瘫患者时的意外发现。<br/>
                7、妊娠3个月以上的妇女的腹部、臀部、腰骶部，为了防止流产，不宜在这些部位施手法。<br/>
                8、精神病患者或精神过度紧张时不宜推拿治疗。<br/>
                刮痧、拔罐禁忌症，指不适宜刮痧、拔罐或在某种情况下，手法可能使病情加重恶化的情况：<br/>
                1、有出血倾向的疾病，如血小板减少症、白血病、过敏性紫癜症等禁用；<br/>
                2、肌腱断伤、骨折、错位、发热者禁用；<br/>
                3、患有活动性结核病、梅毒、淋病、艾滋病、法定传染者禁用；<br/>
                4、表皮破损处和疮疡、痈疽、癌变的局部以及烧伤、烫伤等开放性外伤禁用；<br/>
                5、妇女月经期慎用，妊娠期禁用；<br/>
                6、神志不清或意识模糊的人、高热抽搐者禁用；<br/>
                7、患有严重心、脑、肺、肾、肝疾患者、高血压患者慎用；<br/>
                8、其它严重疾病或诊断不明的较严重疾病慎用；<br/>
                9、过于瘦弱、过饥、过饱、情绪激动的人慎用；<br/>
                10、急性软组织损伤、局部肿胀严重者慎用；<br/>
                11、需外科手术的人慎用；<br/>
                12、糖尿病受术者，下肢静脉曲张和血栓性静脉炎、局部及下肢浮肿者慎用；<br/>
                13、皮肤过敏、大血管部位慎用。<br/>
            </div>
        </div>
    </div>
{% endblock %}