{% extends "@WeixinBundle/layout.twig" %}
{% block title %}使用协议{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('static-web/css/login.css') }}"/>
{% endblock %}
{% block content %}
    <h1 class="topbar">使用协议</h1>

    <div class="container">
        <div class="common-panel">
            <div class="common-panel-body">
                <p>使用协议如下:</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>

                <p>1、文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
            </div>
        </div>
    </div>
{% endblock %}